
* {
    padding: 0;
    margin: 0;
  
    box-sizing: border-box;
  }
  
  *:focus {
    outline: 0;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  header {
    background-color: red;
    height: 30vh;
    width: 100%;
  
    background-image: url('./Fragen.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .container {
    padding-left: 10px;
    border: 5px solid #F1F1F1;
  }
  
  section {
    border: 1px solid #E6E6E6;
  
    background-color: white;
    margin: 24px;
    padding: 40px;
  
    opacity: 0.0;
  }
  
  section.welcome {
    text-align: center;
  
    animation: slide-in 1s ease-out forwards;
  }
  
  section.questions {
    animation: slide-in 1s ease-out forwards;
    animation-delay: 0.3s;
  }
  
  input {
    padding: 10px 24px;
  }
  
  .abc {
    margin-bottom: 24px;
  }
  
  .def {
    width: 100%;
  }
  
  /* QUESTION */
  
  .question-wrapper {
    margin-top: 24px;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  
    align-items: flex-start;
  }
  
  /* ACTIONS */
  
  .actions {
    width: 100%;
    padding: 24px 0;
  
    display: flex;
    justify-content: space-between;
  }
  
  .actions button {
    padding: 10px 24px;
    border: none;
  }
  
  .hidden {
    visibility: hidden;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  #back-btn {
    background-color: royalblue;
    color: white;
  }
  
  #continue-btn {
    background-color: green;
    color: white;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateY(64px);
      opacity: 0.0;
    }
    100% {
      transform: translateY(0);
      opacity: 1.0;
    }
  }